<h1>Welcome to LinkedOut, Aggie!</h1>
<p>
  Please verify your TAMU email to activate your account.
  <%= link_to "Verify my Account", @url %>
</p>
<p>
  If the link above doesn't work, copy and paste this URL into your browser:
  <br>
  <%= @url %>
</p>