<div id="<%= dom_id company_verification %>">
  <p>
    <strong>Company email:</strong>
    <%= company_verification.company_email %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= company_verification.company_name %>
  </p>

  <p>
    <strong>Is verified:</strong>
    <%= company_verification.is_verified %>
  </p>

</div>
