<h1>Become a Referrer for <%= @verification.company_name %></h1>
<p>
  You requested to verify your employment at <strong><%= @verification.company_name %></strong>.
</p>
<p>
  Click the link below to confirm this email address and start posting referrals.
</p>
<p>
  <%= link_to "Verify Company Email", @url %>
  </p>